<div class="container row-grid mt-5"  *ngIf="coche != null">
	<div class="row">
	  <div class="col-sm-8">
      <h2 class="text-primary mb-2"><b>Detalles del coche:</b></h2>
	    <div class="row">
	      <div class="col-sm-6">
	        <a class="thumbnail">
	            <img *ngIf="coche.alquilado == false" class="img-coche" src="{{coche?.imageurl}}" alt="Foto coche" width="100%">
	            <img *ngIf="coche.alquilado == true" class="img-coche img-coche-alquilado" src="{{coche?.imageurl}}" alt="Foto coche">
              <div *ngIf="coche.alquilado == true" style="position:absolute; top:0; left:14px;"><img border="0"  src="../../../assets/alquilado.png" /></div>
          </a>
	      </div>
	      <div class="col-sm-6">
          <h3 class="text-primary mb-3 text-capitalize"><u>{{coche?.marca}} {{coche?.modelo}}</u></h3>
          <h5 class="text-primary"></h5>
	        <p>Kilometros: {{coche?.km | pointReplacer}} Km</p>
					<p>Puertas: {{coche?.puertas}} puertas</p>
					<p>Plazas: {{coche?.plazas}} plazas</p>
          <p>Precio de alquiler por días: {{coche?.precio}} €</p>
          <p>Alquilado actualmente: No</p>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col">
	        <h4 class="text-primary mt-2">Descripción del usuario</h4>
	        <p>{{coche?.descripcion}}
	        </p>
	      </div>
	    </div>
	  </div>

	  <div *ngIf="is_logged_in == true" class="col-sm-4 bg-faded pt-2 img-coche">
			 <div class="col-sm-12">
         <h2 class="text-primary mb-4"><b>Datos del usuario:</b></h2>
						<p class="text-capitalize">Nombre: {{nombre}}</p>
						<p class="text-capitalize">Apellido: {{apellido}}</p>
						<p>Email: {{email}}</p>
            <p class="text-capitalize">Provincia: {{provincia}}</p>
            <p>Telefono de Contacto: {{telefono}}</p>
	    </div>
    </div>
    <div class="col-sm-4">
      <div *ngIf="is_logged_in == false" class="col-sm-12">
        <h2 class="text-primary mb-4"><b>Datos del usuario:</b></h2>
        <div class="alert alert-warning" role="alert">
          <strong>Es necesario que inicies sesion para ver estos datos. </strong><a [routerLink]="['/login']" class="alert-link">Iniciar sesión</a>
        </div>
        <div class="alert alert-danger" role="alert">
          <strong>Si todavia no tienes una cuenta puedes registrarte en este enlace: </strong><a [routerLink]="['/register']" class="alert-link">Registrate</a>
        </div>
      </div>
    </div>
	</div>
</div>
<div class="container">
  <div class="alert alert-danger mt-5" role="alert" *ngIf="coche == null">
    <strong>El coche que buscas no existe</strong>
  </div>
</div>
