.btn-warning {
  color: #ffffff;
}
.container {
  margin-top: 2em;
}

.title_forms {
  color: #E0A800;
}
.card-columns{
  column-count: 4;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.coche{
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}
.row > div[class*='col-'] {
  display: flex;
  margin-bottom: 1em;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.img-coche{
  width: 100%;
  height: 100%;
}
.img-coche-alquilado{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
}
.hvr-shrink {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
:host /deep/ pagination-controls .current {
  background: #0275D8;
}
:host /deep/ pagination-controls .ng2-pagination {
  cursor:pointer;
  padding: 0;
}
:host /deep/ pagination-controls .ng2-pagination a, .ng2-pagination button {
   color: #E0A800;
 }
:host /deep/ pagination-controls .ng2-pagination a:hover, .ng2-pagination button:hover{
  color: white;
  background-color: #0275D8;
}
