<div class="progress rounded-0" *ngIf="mostrar == true">
  <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning " role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
</div>
<div class="container">
  <div class="mb-2 row">
    <div class="row col-md-4 ">
      <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" class="align-self-center" (pageChange)="p = $event"></pagination-controls>
      <span class="title_forms col-md-12 align-text-center">Se encontraron: <b>{{coches.length}}</b> coches.</span>
    </div>
    <div class="row col-md-3 form-check ">
      <label class="title_forms form-check-label align-self-start p-0">¿Desea ver los coches alquilados?</label>
      <label class="title_forms form-check-label align-self-end">
        <input class="form-check-input" type="checkbox" value="" [(ngModel)]="alquilados_seleccionado" name="alquilado_seleccionado" (change)="searchNoAlquilado()">
        No mostrar coches alquilados
      </label>
    </div>
    <div class=" col-md-5">
      <form class="row col-md-12 p-0 ml-1 justify-content-around">
        <label class="col-md-12 title_forms pl-0">O bien selecciona una de sus características</label>
        <select class="custom-select col-md-3" [(ngModel)]="marca_seleccionada" name="marca_search" (change)="searchByMarca()">
          <option value="" selected>-Marca-</option>
          <option *ngFor="let marca of marcas" value="{{marca.value}}">{{marca.name }}</option>
        </select>
        <select class="custom-select col-md-4" [(ngModel)]="puertas_seleccionadas" name="puertas_search" (change)="searchByPuertas()">
          <option value="0" selected>-Nº de puertas-</option>
          <option *ngFor="let puerta of puertas" value="{{puerta}}">{{puerta}}</option>
        </select>
        <select class="custom-select col-md-4" [(ngModel)]="plazas_seleccionadas" name="plazas_search"(change)="searchByPlazas()">
          <option value="0" selected>-Nº de plazas-</option>
          <option *ngFor="let plaza of plazas" value="{{plaza}}">{{plaza}}</option>
        </select>
      </form>
    </div>
  </div>
  <div *ngIf="coches?.length == 0">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">No hay coches disponibles.</h4>
      <p>Lo sentimos. Para los filtros de busqueda seleccionados no se encuentran coches disponibles</p>
      <p class="mb-0">Cambia los filtros de búsqueda para encontrar el coche que deseas alquilar. Muchas gracias y sentimos las molestias</p>
    </div>
  </div>
  <div class="row todo" *ngIf="mostrar == false">
    <div class="col-sm-3" *ngFor="let coche of coches | paginate: { itemsPerPage: 10, currentPage: p }">
      <div class="card coche hvr-shrink" >
        <img *ngIf="coche.alquilado == false" class="card-img-top  img-fluid img-coche" src="{{coche.imageurl}}" alt="Card image cap">
        <img *ngIf="coche.alquilado == true" class="card-img-top  img-fluid img-coche-alquilado" src="{{coche.imageurl}}" alt="Card image cap">
        <div *ngIf="coche.alquilado == true" style="position:absolute; top:0; left:0;"><img border="0"  src="../../../assets/alquilado.png" /></div>
        <div class="text-white bg-inverse p-1 pl-3 pr-3" style="position:absolute; bottom:316px; right:0px;border-radius: 200px 0px 0px 200px;"><span>{{coche.precio}} €</span></div>
        <div class="card-block">
          <h3 class="card-title text-primary">{{coche.marca | capitalize}}</h3>
          <hr class="bg-warning">
          <h5 class="card-text">{{coche?.modelo | capitalize}}</h5>
          <hr class="bg-warning">
          <p class="card-text">Km: {{coche.km | pointReplacer}} Km</p>
          <p class="card-text">Puertas: {{coche.puertas}}</p>
          <p class="card-text">Plazas {{coche.plazas}}</p>
          <a [routerLink]="['/coche', coche.id]"class="btn btn-primary" >Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>
